html {
  box-sizing: border-box;
  background-image: url(https://i.imgur.com/IzD7JpH.jpg);
  background-size: cover;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1,
h3 {
  font-family: "Noto Sans", sans-serif;
  margin: 0 auto;
  text-align: center;
  width: 80%;
  color: rgba(255, 255, 255, .75);
}

h1 {
  padding-top: 50px;
  font-size: 5em;
  width: 80vw;
  margin: 0 auto;
  text-align: center;
  margin-bottom: .05em;
}

h3 {
  margin-bottom: 1.5em;
}

.keys-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 90%;
  margin: 125px auto 0;
}

@media screen and (max-width: 900px) {
  .keys-group {
    margin-top: 0;
  }
}

.key {
  width: 250px;
  height: 250px;
  position: relative;
  background: rgba(255, 255, 255, 0);
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & img {
    width: 250px;
    background-size: contain;
    opacity: .85;
  }
}

kbd {
  position: absolute;
  padding: 0 .5em;
  font-size: 48px;
  background: rgba(255, 255, 255, .75);
  color: tomato;

}

.key-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  opacity: .7;
}

.inception {
  background: url(https://media.giphy.com/media/7wiAKLUnFMkRG/giphy.gif);
}

.playing {
  transform: scale(1.1);
  outline: 3px solid red;
}